<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<footer class="footer" th:fragment = "footer">
   <div class="">
        <p style="font-weight: bold">BUYCAR</p>
        <p>update your fleet</p>
        <p>Designed by Julia Miakenkaya</p>
    </div>
</footer>
</body>
</html>