<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<footer class="footer" th:fragment = "footer">
    <div class="container-fluid">
        <a style="font-weight: bold">BUYCAR</a></br>
        <a>update your fleet</a></br>
        <a>Designed by Julia Miakenkaya</a>
    </div>
</footer>
</body>
</html>