<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <title>Объявление</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link th:href="@{../../styles/style.css}" rel="stylesheet" type="text/css">
    <link rel="icon" th:href="@{../../images/icon.png}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container" style="min-height: 80vh">
    <br/>
    <form class="authorization" th:method="post" th:action="@{/car-info/{id}(id=${car.getId()})}" th:object="${car}">
        <div id="carouselExampleIndicators" class="carousel slide" style="margin-right: 300px; margin-left: 300px">
            <div class="carousel-indicators">
                <button type="button" style="display: none" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <div th:each="image, index : ${images}">
                    <button type="button" data-bs-target="#carouselExampleIndicators" th:data-bs-slide-to="${index.count}" aria-label="Slide [${index.count}]" th:classappend="${index.first}? active"></button>
                </div>
            </div>
            <div class="carousel-inner">
                <div th:each="image, index : ${images}" class="carousel-item" th:classappend="${index.first}? active">
                    <img th:src="${image.getPath()}" class="d-block w-100" alt="Car photo">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
        <div style="margin-right: 300px; margin-left: 300px">
            <p><small class="text-muted" th:text="${car.getCountry().getCountry()}">Страна</small><small class="text-muted">,</small>
                <small class="text-muted" th:text="${car.getCountry().getRegion()}">Область</small><small class="text-muted"> область,</small>
                <small class="text-muted" th:text="${car.getCountry().getCity()}">Город</small></p>
            <h2 class="text-center">
                <span class="text-capitalize" th:text="${car.getBrand()}">Марка</span>
                <span class="text-capitalize" th:text="${car.getModel()}">Модель</span>
                <span th:text="${car.getYear()}">Год</span>
            </h2>
            <br/>
            <h3>$<span th:text="${car.getPrice()}">Цена</span></h3>
            <div th:if="${car.getDealer().getType().equals('company')}">
                <small class="text-muted">Возможна рассрочка.</small>
            </div>
            <br/>
            <h5>Коробка передач: <span th:text="${car.getTransmission()}">Коробка передач</span></h5>
            <h5>Объём: <span th:text="${car.getVolume()}">Объём</span>л.</h5>
            <h5>Тип двигателя: <span th:text="${car.getEngine()}">Тип двигателя</span></h5>
            <h5>Тип кузова: <span th:text="${car.getBody()}">Кузов</span></h5>
            <h5>Пробег: <span th:text="${car.getMileage()}">Пробег</span>км</h5>
            <br/>
            <h5>Описание: </h5>
            <span th:text="${car.getDescription()}">Описание</span>
        </div>
    </form>
    <br/><br/>
    <div style="margin-right: 300px; margin-left: 300px">
        <div th:if="${key!=null}">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="width: 300px; background-color: #faf0fe" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Посмотреть контакт продавца
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div th:if="${car.getDealer().getType().equals('seller')}" class="accordion-body" th:object="${seller}">
                            <span>+<span th:text="${seller.getPhone()}">+375445550400</span>,
                                <span th:text="${seller.getName()}">Имя</span> <span th:text="${seller.getLastname()}">Отчество</span>
                            </span>
                        </div>
                        <div th:if="${car.getDealer().getType().equals('company')}" class="accordion-body" th:object="${company}">
                            <span>+<span th:text="${company.getPhone()}">+375445550400</span>,
                                <span th:text="${company.getName()}">Название</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <h5>Комментарии:</h5>
        <div th:object="${comments}">
            <table>
                <tr>
                    <th class="col" style="min-width: 200px">email</th>
                    <th class="col">комментарий</th>
                </tr>
                <tr th:each="comment : ${comments}" >
                    <td th:text="${comment.getUser().getEmail()}">email</td>
                    <td th:text="${comment.getComment()}">комментарий</td>
                </tr>
            </table>
        </div>
        <br/>
        <div th:if="${key!=null}">
            <form th:method="post" th:action="@{/add-comment/{id}/{idkey}(id=${car.getId()}, idkey=${key.getId()})}" th:object="${comm}">
                <div class="form-group">
                    <label for="comm">Ваш комментарий:</label>
                    <textarea class="form-control" id="comm" rows="3" placeholder="Введите ваш комментарий" th:field="*{comment}"></textarea>
                </div>
                <div class="authorization" style="margin-top: 5px">
                    <button class="w-20 btn btn-mg btn-light" style="background-color: #faf0fe" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>