<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <title>Избранное</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link th:href="@{../styles/style.css}" rel="stylesheet" type="text/css">
    <link rel="icon" th:href="@{../../images/icon.png}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container" style="min-height: 80vh; margin-left: 100px; margin-right: 100px">
    <br/>
    <h2 style="text-align: center">Избранное</h2>
    <br/>
    <div th:object="${cars}">
        <div th:each="car : ${cars}">
            <div th:object="${favorite}">
                <div th:each="fav : ${favorite}">
                    <div th:if="${fav.getCar().getId()==car.getId()}" class="card" style="padding: 0; margin: 20px; width: 1116px">
                        <div class="row align-items-center" style="width: 1116px; height: 160px; margin: 0">
                            <div class="col" style="object-fit: cover; min-width: 160px; padding: 0">
                                <img th:src="${car.getImage().getPath()}" style="object-fit: cover; width: 160px; height: 160px" alt="Preview photo">
                            </div>
                            <div class="col text-center" style="min-width: 200px">
                                <a style="text-decoration: none" th:href="@{/{idkey}/info/{id}(idkey=${key.getId()}, id=${car.getId()})}">
                                    <h3 class="text-capitalize" th:text="${car.getBrand()}">Марка</h3>
                                    <h4 class="text-capitalize" th:text="${car.getModel()}">Модель</h4>
                                </a>
                                <br/>
                                <h5 th:text="${car.getYear()}">Год</h5>
                            </div>
                            <div class="col" style="min-width: 550px">
                                <span><span th:text="${car.getTransmission()}">Коробка передач</span>, <span th:text="${car.getVolume()}">Объём</span>л.,
                                <span th:text="${car.getEngine()}">Тип двигателя</span>, <span th:text="${car.getBody()}">Кузов</span>,
                                <span th:text="${car.getMileage()}">Пробег</span>км</span>
                                <br/><br/><br/>
                                <p class="card-text"><small class="text-muted" th:text="${car.getCountry().getCountry()}">Страна</small><small class="text-muted">,</small>
                                    <small class="text-muted" th:text="${car.getCountry().getRegion()}">Область</small><small class="text-muted"> область,</small>
                                    <small class="text-muted" th:text="${car.getCountry().getCity()}">Город</small></p>
                            </div>
                            <div class="col" style="min-width: 140px; max-width: 140px">
                                <h4>$<span th:text="${car.getPrice()}">Цена</span></h4>
                            </div>
                            <div class="col p-0" style="min-width: 66px; max-width: 66px">
                                <form th:method="post" th:action="@{/del-favorite/{id}/{idkey}(id=${car.getId()}, idkey=${key.getId()})}">
                                    <button type="submit" class="btn p-0" style="width: 66px; height: 160px; background-color: #e8b3fa">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>

<br/><br/>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>