<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизация</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link th:href="@{styles/style.css}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container p-3 text-center" style="background-color: white; border-radius:5px; width:300px">
    <br />
    <h2>Вход в аккаунт</h2>
    <br />
    <form th:method="post" th:action="@{/login}" th:object="${key}">
        <div>
            <label asp-for="login">Логин:</label>
            <br/>
            <input type="text" id="login" th:field="*{login}">
            <span asp-validation-for="login"></span>
        </div>
        <div>
            <label asp-for="password">Пароль:</label><br />
            <input type="password" id="password" th:field="*{password}">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="text-center">
            <br />
            <button type="submit" class="btn btn-light">Войти</button>
        </div>
        <br/>
        <div class="text-center">
            <a th:href="@{/registration}" >Регистрация</a>
        </div>
    </form>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>